body {
    background-color: black;
    color: white;
    font-family: 'DM Mono', monospace;
    padding-top: 30px;
}

main {
    margin: 30px;
}

section {
    margin: 20px 0;
}

h1, h2, h3, h4 {
    font-family: 'DM Mono', monospace;
}

h1, h2, h3 {
    color: #39ff14;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
    margin: 0;
}

h3 {
    font-size: 1.15em;
    margin: 10px;
}

h4 {
    font-size: 1.15em;
    text-align: center;
    margin: 5px 0 0 0;
}

p, li {
    font-size: 0.8em;
}

p {
    margin: 0;
    padding: 10px;
}

ul {
    padding: 10px 10px 10px 30px;
    margin: 0;
}

li {
    margin:  0 0 10px 0;
}

.header-title, .header-subtitle, h2 {
    text-align: center;
}

#header-icons-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

a {
    color: white;
    font-size: 1.1em;
}

a:hover {
    color:  #39ff14;
}

img {
    width: 100%;
    height: auto;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.project-image {
    width: 100%;
}

#intro-image {
    width: 40%;
    border-radius: 50%;
    margin-left: 10px;
}

#intro-image, #university-image {
    float: right;
}

#arup-image, #experience-image {
    float: left;
    margin-right: 25px;
}

.about-article, .project {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#download-cv, .site-link, .repo-link {
    color: black;
    font-size: 0.8em;
    padding: 5px 10px;
    border: 0px;
    border-radius: 12px;
    background-color: grey;
}

#download-cv {
    margin-top: 20px;
}


.site-link, .repo-link {
    margin: 0 10px;
}

.fa-download {
    color: black;
}

#download-cv:hover, .site-link:hover, .repo-link:hover {
    color: white;
    background-color: #39ff14;
}

.fa-download:hover {
    color: black;
}

#contact-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#email-contact {
    width: 60%;
}

#socials-contact {
    width: 40%;
}

#email-contact a {
    font-size: 0.75em;
    margin-bottom: 5px;
    text-align: center;
    display: block;
    color: rgb(111, 111, 255)
}

#email-contact a:hover {
    text-decoration: underline;
}

#contact-icons-container {
    display: flex;
    justify-content: center;
}

#contact-icons-container a {
    margin: 0 5px;

}

footer p {
    font-size: 0.9em;
    text-align: center;
    color:  #39ff14;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

@media (min-width: 376px) {
    img {
        width: 40%;
    }

    #email-contact, #socials-contact {
        width: 50%;
    }

}

@media (min-width: 376px) and (max-width: 575px) {

    h1 {
        font-size: 2.25em;
    }

    h2 {
        font-size: 1.95em;
    }

    h3, h4 {
        font-size: 1.3em;
    }

    a {
        font-size: 1.25em;
    }

    footer p {
        font-size: 1.0em;
    }

    p, li, #download-cv, .site-link, .repo-link {
        font-size: 0.9em;
    }

    #email-contact a {
        font-size: 0.85em;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3, h4 {
        font-size: 1.45em;
    }

    a {
        font-size: 1.35em;
    }

    footer p {
        font-size: 1.1em;
    }

    p, li, #download-cv, .site-link, .repo-link {
        font-size: 1.0em;
    }

    #email-contact a {
        font-size: 0.95em;
    }
}

@media (min-width: 768px) {
    .project {
        width: 50%;
        float: left;
        min-height: 775px;
        border: 1px solid rgba(128, 128, 128, 0.5);
    }

    .project-description {
        height: 176px;
    }

    .technologies-list {
        height: 154px;
    }

    h1 {
        font-size: 2.75em;
    }
    
    h2 {
        font-size: 2.4em;
    }
    
    h3, h4 {
        font-size: 1.6em;
    }
    
    a {
        font-size: 1.5em;
    }
    
    footer p {
        font-size: 1.25em;
    }
    
    p, li, #download-cv, .site-link, .repo-link {
        font-size: 1.1em;
    }
    
    #email-contact a {
        font-size: 1.05em;
    }
}

@media (min-width: 867px) {
    .project-image {
        height: 275px;
        width: auto;
        margin: auto;
        display: flex;
    }

    main {
        margin: 30px auto;
        max-width: 807px;
    }
}