body {
    background-color: black;
    color: white;
    font-family: 'DM Mono', monospace;
    padding-top: 30px;
}

main {
    margin: 10px;
}

section {
    margin-bottom: 10px;
    border: 2px solid white;
}

h1, h2, h3, h4 {
    font-family: 'DM Mono', monospace;
}

h1, h2, h3 {
    color: #39ff14;
}

h1 {
    font-size: 1.5em;
}

h2 {
    margin: 0;
    border: 1px solid white;
}

h3 {
    font-size: 1.15em;
    margin: 10px;
}

h4 {
    font-size: 1.15em;
    text-align: center;
    margin: 5px 0 0 0;
}

p, li {
    font-size: 0.8em;
}

p {
    margin: 0;
    padding: 10px;
}

div {
    clear: both;
}

ul {
    padding: 10px 10px 10px 30px;
    margin: 0;
}

li {
    margin:  0 0 10px 0;
}

.header-title, .header-subtitle, h2 {
    text-align: center;
}

#header-icons-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

i {
    color: white;
    font-size: 18px;
}

img {
    width: 30%;
    height: auto;
    margin: 10px;
}

#intro-image, #university-image, #experience-image {
    float: right;
}

#intro-image {
    border-radius: 50%;
}

#arup-image, #interests-image {
    float: left;
    margin-bottom: 0;
}

.about-article, .project {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#download-cv, .site-link, .repo-link {
    color: black;
    font-size: 12px;
    padding: 5px 10px;
    border: 0px;
    border-radius: 12px;
    background-color: grey;
}

.site-link, .repo-link {
    margin: 0 10px;
}

.fa-download {
    color: black;
}

#download-cv:hover, .site-link:hover, .repo-link:hover {
    color: white;
    background-color: #39ff14;
}

.fa-download:hover {
    color: black;
}

#contact-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#email-contact {
    width: 60%;
}

#socials-contact {
    width: 40%;
}

#email-contact a {
    font-size: 0.75em;
    margin-bottom: 5px;
    text-decoration: underline;
    text-align: center;
    display: block;
}

#contact-icons-container {
    display: flex;
    justify-content: center;
}

#contact-icons-container i {
    margin: 0 5px;
}


footer p {
    text-align: center;
    color:  #39ff14;
}